# Standard Flutter ignores
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.idea/
.vscode/
build/
*.iml
*.lock
android/local.properties
android/.gradle
ios/.symlinks
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/.build/
web/firebase-config.js
.firebase

google-services.json 
GoogleService-Info.plist 
firebase_options.dart 

