# Standard Flutter ignores
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.idea/
.vscode/
build/
*.iml
*.lock
android/local.properties
android/.gradle
ios/.symlinks
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/.build/
web/firebase-config.js # If using Firebase web config, consider ignoring

# Firebase specific ignores
google-services.json # Android Firebase configuration
GoogleService-Info.plist # iOS Firebase configuration
firebase_options.dart # Generated Firebase configuration file (if using FlutterFire CLI)
.firebase/ # Firebase Hosting cache folder